html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
}

/*==========  Navigation ==========*/
.navbar-default {
    background-color: #12AD2a;
    border-style: none;
    font-size: 20px;
    cursor: pointer;
}
#TeamName{
    color: #FFF;
    font-size: 24px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-default .navbar-brand img{
    width: 45px;
    margin-top: 4px;
}
.navbar-brand {
    padding: 0px 15px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #12AD2a;
    background-color: #fff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{
    color: #12AD2a;
    background-color: #fff;
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
    color: #12AD2a;
}
.navbar-default .navbar-toggle{
    border-color: #fff;
    color: #fff;
    font-size: 22px;
}
.navbar-toggle {
    padding: 2px 10px;
}

/*==========  Body INDEX.html ==========*/
#tim,
#forum {
    display: none;
    position: absolute;
}
#tim {
    left: 100%;
}
#forum{
    left:-100%;
}

.slider{
    width: 100%;
    max-height: 500px;
    /*margin-top: 50px; */
}
.slider img
{
    width: 100%;
    max-height: 300px;
}
.container {
    margin-right: 0px;
    margin-left: 0px;
}
article{
    position: relative;
    padding-bottom: 65px;
}
.article,
.about_us {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
}
.nadpis{
    background-color: #FFFFFF;
}
.about_us .nadpis h4,
.team .nadpis h4,
.blog .nadpis h4{
    color: #d1d1d1;
    margin-bottom: 20px;
}
.about_us p {
    margin-top: 20px;
}
.chevron {
    position:absolute;
    top:0px;
    height:100%;
    width:10%;
    background-color:white;
    color: #000;
    font-size:600%;
}
.chevron_right {
    right:0px;
}
.chevron_left {
    left:0px;
}

.chevron_right:hover,
.chevron_left:hover {
    color: #12AD2a;
}
.bg-circle{
    background: #d1d1d1;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    padding: 10px 0% 0% 10px;
}

.img-circle {
    width: 200px;
    height: 200px;
}

@keyframes hide_page_l {
    0%   {left:0%;position: relative;display: block;height: 1080px;}
    100% {left:100%;position: relative;display: none;height: 1080px;}
}
@keyframes show_page_l {
    0%   {left:-100%;position: relative;display: none;height: 1080px;}
    100% {left:0%;position: relative;display: block;height: 1080px;}
}
@keyframes hide_page_r {
    0%   {left:0%;position: relative;display: block;height: 1080px;}
    100% {left:-100%;position: relative;display: none;height: 1080px;}
}
@keyframes show_page_r {
    0%   {left:100%;position: relative;display: none;height: 1080px;}
    100% {left:0%;position: relative;display: block;height: 1080px;}
}
/*==========  Body team.html ==========*/
.person{
    display: block;
    margin: 15px;
    /*width: 100%; */
    background: #d1d1d1;
    cursor: pointer;

}
.person img {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: default;
}
.person h1 {
    color: black;
}
.person a {
    text-decoration: none;
}
.person a:hover {
    text-decoration: underline;
    color: black;
}
.team .inf {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
    font-weight: 700;
}

.team .inf:hover {
  color: #000;
}
.contact p {
    margin: auto 1%;
}
.message {
    display: none;
}
.message p {
    margin: 10px 0px 0px 0px;
}

.send_message {
    margin: 0px 1%;
}

.send_message textarea {
    width: 100%;
    resize: none;
}

.send_message .mail {
    width: 75%;
}

.send_message .tema {
    width: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_form {
    width: 47%;
    background-color: #d1d1d1;
    color: black;
    border: 2px solid #fff;
}

.button_form:hover {
    background-color: #fff;
    border: 2px solid #d1d1d1;}

.button_kontakt {
    width: 98%;
    background-color: #d1d1d1;
    color: black;
    border: 2px solid #fff;
}

.button_kontakt:hover {
    background-color: #fff;
    border: 2px solid #d1d1d1;}
/*==========  Blog ==========*/
.media {
    padding-left: 20px;
}
.filter,
.search {
    display: inline-block;
}
.search{
    float: right;
}
.search button,
.filter{
    width: 250px;
    height: 34px;
}
.search_ext button {
    width: auto;
    height: 34px;
    float: right;
}
.search_ext {
    width: 350px;
    background: #f5f5f5;
    display: none;
    padding: 10px;
    float: right;
    border: 1px solid #AFAFAF;
}
.panel-title {
    display: inline-block;
}
.dropdown, .dropup {
    float: right;
    cursor: pointer;
}
.dropdown-menu {
    left: -127px;
}
.blog .fa {
    float: right;
    font-size: 20px;
}
.blog .fa-gear{
    color: #337ab7;
}
.blog .fa-exclamation {
    color: red;
}
.blog .fa-check {
    color: green;
}
.blog .new_topic,
.blog .new_forum  {
    padding-top: 5px;
    padding-bottom: 5px;
}
.new_topic button,
.new_forum button,
.new_reply button{
    height: 34px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #F0F0F0;
}
.new_topic button:hover,
.new_forum button:hover,
.new_reply button:hover{
    background: #AFAFAF;
}
.new_topic .fa,
.new_forum .fa {
    float: left;
}
.new_reply {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.add_topic,
.add_theme,
.add_reply{
    border: 1px solid #ddd;
    border-radius: 3px;
    display: none;
}
.add_reply {
    margin: 15px;
}
.send_topic,
.send_theme,
.send_reply {
    padding: 10px;
}
.send_topic .tema,
.send_theme .tema,
.send_topic .mail,
.send_reply .mail{
    width: 100%;
}
.send_theme button,
.send_topic button,
.send_reply button,
.send_theme input,
.send_topic input,
.send_reply input {
    height: 34px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 3px;

}
.send_theme button,
.send_topic button,
.send_reply button{
    background-color: #F0F0F0;
}

.send_theme button:hover,
.send_topic button:hover,
.send_reply button:hover {
    background-color: #AFAFAF;
}

.send_topic .description_problem,
.send_topic .description_problem textarea,
.send_reply .description_problem,
.send_reply .description_problem textarea{
    width: 100%;
    padding-top: 10px;
    resize: none;
}
.blog .tlacidla {
    float: right;
    padding-top: 10px;
}
.send_topic .description_problem textarea,
.send_reply .description_problem textarea{
    border: 1px solid #eeeeee;
}
.result_search {
    width: auto;
    min-height: 50px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
}
.result_search a {
    cursor: pointer;
}
.result_search a .fa-times {
    color: #AFAFAF;
    cursor: pointer;
}
.result_search .panel-body {
    padding: 20px;
}
.result_search .panel {
    margin-top: 5px;
    margin-bottom: 5px;
}
#oznam {
    position: fixed;
    top:70px;
    left: 20%;
    width: 60%;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-size: 18px;
    vertical-align: 50%;
}
.oznam_true {
    background-color: green;
}
.oznam_false {
    background-color: red;
}

/*==========  Footer ==========*/
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px;
    background-color: #12AD2a;
    color: #fff;
    min-height: 62px;
    font-size: 16px;
    width:100%;
}
footer .container{
    width: 100%;
}
footer .foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 10px;
}
footer button,
footer #logout{
    float: right;
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #12AD2a;
    border-radius: 3px;
}
footer button:hover,
footer #logout:hover{
    background-color: #FFFFFF;
    color: #12AD2a;
}
footer .login {
    color: black;
}
footer .login label{
    display: inline-block;
    width: 100px;
    padding: 5px;
}
footer .login input{
    display: inline-block;
    width: 250px;
}
footer .login .tlacidla input{
    float: right;
    width: 150px;
    margin-top: 5px;
}

/*==========  BreakPointy ==========*/

@media (max-width: 767px) {
    .chevron_left,
    .chevron_right {
        display: none;
    }
    .article {
        width: 100%;
        }
    .nav{
        float: right;
    }
    .container > .navbar-header {
        background: #12AD2a;
    }
    .navbar-default .navbar-collapse {
        border-color: #e7e7e7;
        width: auto;
        background: #12AD2a;
        float: right;
    }
    .navbar-default {
        background-color: transparent;
        border-style: none;
        font-size: 20px;
    }
}
@media screen and (min-device-width: 925px) and (max-device-width: 1180px) {
    .about_us .col-md-3 {
        width: 33.33%;
        float: left;
  }
}
@media screen and (min-device-width: 600px) and (max-device-width: 924px) {
    .about_us .col-md-3 {
        width: 50%;
        float: left;
  }
}

@media (max-width: 550px) {
    .search{
    float: right;
    width: 150px;
    }
    .search_ext{
    width: 300px;
    
    }
    .search button{
    width: 100%;
    height: 34px;
    }
    .filter {
    width: 150px;
    padding-bottom: 10px;
    padding-top: 0px;
    }
}
@media (max-width: 360px) {
    .search{
    float: right;
    width: 100%;
    padding-top: 10px;
    }
    .search_ext{
    float: right;
    width: 100%;
    }
    .search button{
    width: 100%;
    height: 34px;
    }
    .filter {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 0px;
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 992px) {
  .cols {
    width: 49%;
    float: none;
    display: inline-flex;
  }
}
@media (min-width: 993px) {
    .cols {
    display: inline-flex;
    width: 32.33%;
    float: none;
}
}
@media (min-width: 768px) {
    #TeamName{
        display: none;
    }
    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        display: flex !important;
        justify-content: center;
    }
}
@media (min-width: 1260px) {
    .blog{
        width: 60%;
    }
}



/*==========  Recommended carousel ==========*/

.recommended .carousel-control {
    width: 3%;
    color: black;
    text-shadow: none;
    font-size: 3.3rem;
}
.recommended .carousel-control.right, .recommended .carousel-control.left {
    top: 20%;
}
.recommended .item .item_image{
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recommended .item .item_content{
  height: 38px;
  overflow: hidden;
}
.recommended .item .item_content a{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.1rem;
    color: #696969;
    line-height: 130%;
    font-weight: 400;
}
.recommended .item .fa-plus{
    position: absolute;
    top: 44px;
    right: -10px;
    font-size: 2.2rem;
}

/*==========  Boostrap FIX  ==========*/



/* CSS HELPERS */

/*===============================================
  color
================================================= */
.gray-color{
  color: #757474 !important;
}
/*===============================================
  max width
================================================= */
.mw30{
  max-width: 30% !important;
}
.mw50{
  max-width: 50% !important;
}
/*===============================================
  Line-height
================================================= */

.lh150{
  line-height: 150% !important;
}
.lh200{
  line-height: 200% !important;
}
.lh250{
  line-height: 250% !important;
}
/*===============================================
  Font size
================================================ */
.fs1{
  font-size: 1rem !important;
}
.fs11{
  font-size: 1.1rem !important;
}
.fs12{
  font-size: 1.2rem !important;
}
.fs14{
  font-size: 1.4rem !important;
}
.fs16{
  font-size: 1.6rem !important;
}
.fs18{
  font-size: 1.8rem !important;
}
.fs20{
  font-size: 2rem !important;
}
.fs25{
  font-size: 2.5rem !important;
}
.fs30{
  font-size: 3rem !important;
}
.fs35{
  font-size: 3.5rem !important;
}
/*===============================================
  Padding
================================================= */
.pn {
  padding: 0 !important;
}
.p1 {
  padding: 1px !important;
}
.p2 {
  padding: 2px !important;
}
.p3 {
  padding: 3px !important;
}
.p4 {
  padding: 4px !important;
}
.p5 {
  padding: 5px !important;
}
.p6 {
  padding: 6px !important;
}
.p7 {
  padding: 7px !important;
}
.p8 {
  padding: 8px !important;
}
.p10 {
  padding: 10px !important;
}
.p12 {
  padding: 12px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.p35 {
  padding: 35px !important;
}
.p40 {
  padding: 40px !important;
}
.p50 {
  padding: 50px !important;
}
.ptn {
  padding-top: 0 !important;
}
.pt2 {
  padding-top: 2px !important;
}
.pt3 {
  padding-top: 3px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt8{
  padding-top: 8px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.prn {
  padding-right: 0 !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.pbn {
  padding-bottom: 0 !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pln {
  padding-left: 0 !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl50 {
  padding-left: 50px !important;
}
/* Axis Padding (both top/bottom or left/right) */
.pv3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.pv5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.pv7 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.pv8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.pv9 {
  padding-top: 9px !important;
  padding-bottom: 8px !important;
}
.pv10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.pv12 {
  padding-top: 12px !important;
  padding-bottom: 11px !important;
}
.pv15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.pv20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.pv25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.pv30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.pv40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.pv50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.ph5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.ph8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.ph10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.ph15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.ph20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.ph25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.ph30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.ph40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.ph50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
/*===============================================
  FONTS
================================================= */
.fwb{
  font-weight: bold;
}
/*===============================================
  E. Margin Helpers
================================================= */

.mauto {
  margin-left: auto;
  margin-right: auto;
}
.mn {
  margin: 0 !important;
}
.m1 {
  margin: 1px !important;
}
.m2 {
  margin: 2px !important;
}
.m3 {
  margin: 3px !important;
}
.m4 {
  margin: 4px !important;
}
.m5 {
  margin: 5px !important;
}
.m8 {
  margin: 8px !important;
}
.m10 {
  margin: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.m30 {
  margin: 30px !important;
}
.m35 {
  margin: 35px !important;
}
.m40 {
  margin: 40px !important;
}
.m50 {
  margin: 50px !important;
}
.mtn {
  margin-top: 0 !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mrn {
  margin-right: 0 !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.mbn {
  margin-bottom: 0 !important;
}
.ml4 {
  margin-left: 4px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mln {
  margin-left: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
/* Axis Margins (both top/bottom or left/right) */
.mv5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mv10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mv15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mv20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mv25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.mv30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mv40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.mv50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.mv70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.mh5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mh10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mh15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mh20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mh25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.mh30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.mh40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.mh50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.mh70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}
/* Negative Margin Helpers */
.mtn5 {
  margin-top: -5px !important;
}
.mtn10 {
  margin-top: -10px !important;
}
.mtn15 {
  margin-top: -15px !important;
}
.mtn20 {
  margin-top: -20px !important;
}
.mtn30 {
  margin-top: -30px !important;
}
.mrn5 {
  margin-right: -5px !important;
}
.mrn10 {
  margin-right: -10px !important;
}
.mrn15 {
  margin-right: -15px !important;
}
.mrn20 {
  margin-right: -20px !important;
}
.mrn30 {
  margin-right: -30px !important;
}
.mbn5 {
  margin-bottom: -5px !important;
}
.mbn10 {
  margin-bottom: -10px !important;
}
.mbn15 {
  margin-bottom: -15px !important;
}
.mbn20 {
  margin-bottom: -20px !important;
}
.mbn30 {
  margin-bottom: -30px !important;
}
.mln5 {
  margin-left: -5px !important;
}
.mln10 {
  margin-left: -10px !important;
}
.mln15 {
  margin-left: -15px !important;
}
.mln20 {
  margin-left: -20px !important;
}
.mln30 {
  margin-left: -30px !important;
}
/* Vertical Negative Margin "mv" + "n" + "x" */
.mvn5 {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}
.mvn10 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.mvn15 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
}
.mvn20 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}
.mvn30 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}
/* Horizontal Negative Margin "mh" + "n" + "x" */
.mhn5 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.mhn10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.mhn15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.mhn20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.mhn30 {
  margin-left: -30px !important;
  margin-right: -30px !important;
}
